.env
*.db
bot/creators.json
venv
test.py
proxies.txt
flask_session
.flask_sessions
settings
logs.txt
app.log
test.json
test_message_old.py
test_message.py
__pycache__
bot/__pycache__
__pycache__
accounts.txt