{%extends "includes.html"%}
{%block content%}
    <div class="main-container">
        <aside id="aside">
            <div class="title">
                Console update
            </div>
            <div class="content scroll scroll-v scroll-bar">
                <ul id="console">
                   
                </ul>
            </div>
            <div class="footer">
                <a href="{{ url_for('logs') }}" class="link">
                    logs
                </a>
                <div class="link" id="clear-console">
                    clear console
                </div>
                <div class="link" id="logout"
                    data-action="logout" data-action-url="{{ url_for('do_logout') }}" data-action-message="Logging you out...">
                  <i class="fas fa-sign-out"></i> &nbsp; logout
                </div>
            </div>
        </aside>
        <div class="main-content">
            <div class="navbar scroll scroll-h">
                <ul>
                    <li class="{%if g.page == 'dashboard'%} active {%endif%}">
                        <a href="{{ url_for('index') }}">
                            <i class="fas fa-chart-pie"></i> Overview
                        </a>
                    </li>
                    <li class="{%if g.page in ['start-messaging','start-scraping']%} active {%endif%}">
                        <a href="{{ url_for('messages', action='start-messaging') }}">
                            <i class="fas fa-plus"></i> New task
                        </a>
                    </li>
                    <li class="{%if g.page == 'messages'%} active {%endif%}">
                        <a href="{{ url_for('messages') }}">
                            <i class="fas fa-envelope"></i> Messages
                        </a>
                    </li>
                    <li class="{%if g.page == 'tasks'%} active {%endif%}">
                        <a href="{{ url_for('tasks') }}">
                            <i class="fas fa-tasks"></i> Tasks
                        </a>
                    </li>
                    <li class="{%if g.page == 'creators'%} active {%endif%}">
                        <a href="{{ url_for('creators') }}">
                            <i class="fas fa-user"></i> Creators
                        </a>
                    </li>
                     <li class="{%if g.page == 'users'%} active {%endif%}">
                        <a href="{{ url_for('creators', category='users') }}">
                            <i class="fas fa-user"></i> users
                        </a>
                    </li>
                    <li class="{%if g.page in ['admins','edit-admin']%} active {%endif%}">
                        <a href="{{ url_for('admins') }}">
                            <i class="fas fa-user"></i> Admins
                        </a>
                    </li>
                    <li class="{%if g.page == 'configs'%} active {%endif%}">
                        <a href="{{ url_for('configs') }}">
                            <i class="fas fa-cog"></i> Configs
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content scroll scroll-v">
                <div class="page-header">
                    <h2>
                        {{ g.page.replace("-", " ")|capitalize }}
                        {%block trail%}{%endblock%}
                    </h2>
                </div>
                {%block main_content%}{%endblock%}
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/settings.js') }}?v=reset-offset-3"></script>
    <script>
        
        const clearConsoleBtn = document.getElementById('clear-console');
        clearConsoleBtn.addEventListener('click',()=>{
            const _console = document.getElementById("console");
            _console.innerHTML = '';
        })

        const consoleScroller = document.querySelector('#aside > .content');
        if (consoleScroller) {
            consoleScroller.addEventListener('wheel', (event) => {
                event.stopPropagation();
            }, { passive: true });
        }

        const logoutBtn = document.getElementById('logout');
        logoutBtn.addEventListener('click', async () => {
            const action = logoutBtn.getAttribute('data-action');
            const actionUrl = logoutBtn.getAttribute('data-action-url');
            const actionMsg = logoutBtn.getAttribute('data-action-message');
            
            toogleLoader('show', `${actionMsg}  &nbsp;<i class="fas fa fa-gear icon spinner"></i>`);

            try {
                const response = await fetch(actionUrl, {
                    method: 'POST',
                    body: {}
                });

                if (response.ok) {
                    toogleLoader('show', `${action} successful  &nbsp;<i class="fas fa-check icon"></i>`,'success');
                    setTimeout(() => {
                        toogleLoader('no-show');
                        setTimeout(() => {
                            window.location.href = '/login';
                        }, 700);
                    }, 3000);
                } else {
                    if (response.status !== 500) {
                        const responseData = await response.json();
                        console.error(`${action} failed:`, responseData.msg);
                        toogleLoader('show', `${responseData.msg}`,'error');
                        setTimeout(() => toogleLoader('no-show'), 3000);
                    } else {
                        toogleLoader('show', `${action} failed`,'error');
                        console.error(`${action} failed:`, response.statusText);
                    }
                }
            } catch (error) {
                console.error('Error occurred:', error);
            }
        });
    </script>
    {%if g.page == 'configs'%}
        <script>
            try{
                const mediaForms = document.querySelectorAll('[id*="media-form"]');
                mediaForms.forEach(e=>{
                    const actionFolder = e.getAttribute('data-action-folder');
                    const actionCategory = e.getAttribute('data-action-category');
                    const mediaInput = e.querySelector(`#${actionFolder}-upload-${actionCategory}`);
                    const label = e.querySelector('label')
                    const nextActionUrl = e.getAttribute('data-action-next-url');
                    const actionUrl = e.getAttribute('data-action-url');
                    
                    mediaInput.addEventListener('change', async () => {
                        const action = 'Media upload';
                        toogleLoader('show', `Uploading Medias  &nbsp;<i class="fas fa fa-gear icon spinner"></i>`);
                        
                        // Create a FormData object and append the selected files
                        const formData = new FormData();
                        const files = mediaInput.files;
                        const maxSizeInMb =  50;
                        const maxSizeInBytes = maxSizeInMb * 1024 * 1024;

                        let totalSizeInmb = 0;
                        let totalSizeInBytes = totalSizeInmb * 1024 * 1024;

                        for (let i = 0; i < files.length; i++) {
                            formData.append(`file${i}`, files[i]);
                            totalSizeInBytes += files[i].size;
                        } 
                        
                        totalSizeInmb = Math.round(totalSizeInBytes / 1024 / 1024)
                        // Perform the image upload
                        if (totalSizeInmb <= maxSizeInMb){
                            const response = await fetch(actionUrl, {
                                method: 'POST',
                                body: formData,
                            });
    
                            if (response.ok) {
                                toogleLoader('show', `${action} successful  &nbsp;<i class="fas fa-check icon"></i>`, 'success');
                                setTimeout(() => {
                                    toogleLoader('no-show');
                                    setTimeout(() => {
                                        window.location.href = nextActionUrl;
                                    }, 700);
                                }, 3000);
                            } else {
                                if (response.status !== 500) {
                                    const responseData = await response.json();
                                    console.error(`${action} failed:`, responseData.msg);
                                    toogleLoader('show', `${responseData.msg}`, 'error');
                                    setTimeout(() => toogleLoader('no-show'), 3000);
                                } else {
                                    toogleLoader('show', `${action} failed`, 'error');
                                    console.error(`${action} failed:`, response.statusText);
                                    setTimeout(() => toogleLoader('no-show'), 3000);
                                }
                            }
                        }else{
                            toogleLoader('show', `${totalSizeInmb}MB is larger than the max size ${maxSizeInMb}MB`, 'error');
                            console.error('Total size of byte (5mb) exceeded');
                            setTimeout(() => toogleLoader('no-show'), 3000);
                        }
                    });
                })
            }catch (error) {
                console.error('Error occurred:', error);
            }
            
            try{
                const configsForm = document.querySelector('#configs-form');
                const action = configsForm.getAttribute('data-action');
                const category = configsForm.getAttribute('data-action-category');
                const actionMsg = configsForm.getAttribute('data-action-message');
                const url = configsForm.getAttribute('data-action-url');
                const nextActionUrl = configsForm.getAttribute('data-action-next-url');

                configsForm.addEventListener('submit',async(e)=>{
                    e.preventDefault();

                    toogleLoader('show', `${actionMsg} &nbsp;<i class="fas fa fa-gear icon spinner"></i>`);
                    
                    const configs = new FormData(configsForm);
                    console.log(configs)
                    
                    const response = await fetch(`${url}`, {
                        method: 'POST',
                        body: configs,
                    });

                    if (response.ok) {
                        const responseData = await response.json();
                        toogleLoader('show', `${responseData.msg} &nbsp;<i class="fas fa-check icon"></i>`, 'success');
                        setTimeout(() => {
                            toogleLoader('no-show');
                            if (nextActionUrl !== null){
                                setTimeout(() => {
                                window.location.href = nextActionUrl;
                            }, 700);
                            }
                        }, 3000);
                    } else {
                        if (response.status !== 500) {
                            const responseData = await response.json();
                            console.error(`${actionMsg} failed:`, responseData.msg);
                            toogleLoader('show', `${responseData.msg}`, 'error');
                            setTimeout(() => toogleLoader('no-show'), 3000);
                        } else {
                            toogleLoader('show', `${actionMsg} failed`, 'error');
                            console.error(`${actionMsg} failed:`, response.statusText);
                            setTimeout(() => toogleLoader('no-show'), 3000);
                        }
                    }
                })
            }catch(error){
                console.log(error)
            }
        
        </script>

    {%elif g.page in ['start-messaging','edit-admin', 'scraper']%}
        <script>
            const page = '{{g.page}}'
            const pageConfigs = {
                'start-messaging':'#messages-form',
                'edit-admin':'#admins-form',
                'scraper':'#scraper-form'
            }
            const form = document.querySelector(`${pageConfigs[page]}`);
            const action = form.getAttribute('data-action');
            const url = form.getAttribute('data-action-url');
            const actionMsg = form.getAttribute('data-action-message');
            const nextUrl = form.getAttribute('data-next-action-url');
            
            form.addEventListener('submit',async(e)=>{
                e.preventDefault();

                toogleLoader('show', `${actionMsg} &nbsp;<i class="fas fa fa-gear icon spinner"></i>`);

                const data = new FormData(form);
                let jsonData = {}
                
                for (const [key, value] of data.entries()) {
                    jsonData[key] = value;
                }

                if (['start-messaging'].includes(page)) {
                    const messages = form.querySelectorAll('.message-holder');
                    jsonData.total_actions = messages.length;
                    const select = form.querySelector('select[name="select-creators"]');
                    const selectedCreators = Array.from(select.selectedOptions)
                    .map(option => option.value)
                    .filter(value => value !== '');
                    // Add to your payload:
                    jsonData['select-creators'] = selectedCreators;
                }

                const response = await fetch(`${url}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(jsonData),
                });

                if (response.ok) {
                    const responseData = await response.json()
                    toogleLoader('show', `${responseData.msg}  &nbsp;<i class="fas fa-check icon"></i>`, 'success');
                    setTimeout(() => {
                        toogleLoader('no-show');
                        setTimeout(() => {
                            window.location.href = nextUrl;
                        }, 700);
                    }, 3000);
                } else {
                    if (response.status !== 500) {
                        const responseData = await response.json();
                        console.error(`${action} failed:`, responseData.msg);
                        toogleLoader('show', `${responseData.msg}`, 'error');
                        setTimeout(() => toogleLoader('no-show'), 3000);
                    } else {
                        toogleLoader('show', `${action} failed`, 'error');
                        console.error(`${action} failed:`, response.statusText);
                        setTimeout(() => toogleLoader('no-show'), 3000);
                    }
                }
            })
        </script>
    {%endif%}

    <script src="https://cdn.socket.io/4.1.3/socket.io.min.js"></script>
    <script>
        const socket = io({
            path: "{{ g.app_prefix or '' }}/socket.io",
            transports: ['polling'],
            upgrade: false
        });
    </script>
    <script src="{{ url_for('static', filename='js/client.js') }}"></script>
{%endblock%}
